<html>
<head>
<script src="//cdn.ckeditor.com/4.4.7/basic/ckeditor.js"></script>

</head>
<body>

	{% for error in app.session.flashbag.get('errors') %}

	<span style="color: red">{{ error }}</span>
	<br>
	{% endfor %}
	{% for notice in app.session.flashbag.get('notices') %}
	<span style="color: green">{{ notice }}</span>
	<br>
	{% endfor %}
	{% for post in posts %}
	<div class="post">
	Title: {{ post.title }}
	<br> Author:: {{ post.author ? post.author : 'Guest' }}
	<br> Message: {{ post.body|raw }}
	<hr>
	</div>
	 {% endfor %}
	<br>
	{{ knp_pagination_render(posts) }}
	<br>

	 {{ form_start(form, {'action': path('create'),'method': 'POST'}) }}
	 {{ form_end(form) }}

	<script>CKEDITOR.replace( 'wallpost_body' );</script>
</body>
</html>